<h2 id="title">Welcome to Ember CookieMonster</h2>

{{outlet}}


<p class="the-scott-cookie">Scott = {{cookieMonster.cookies.Scott}}</p>
{{input value=scottCookieValue}}
<button {{action 'bakeCookie' 'Scott' scottCookieValue}}>Bake Scott Cookie</button>
<button {{action 'burnCookie' 'Scott'}}>Burn Scott Cookie</button>
<p class="the-queens-cookie">Queens = {{cookieMonster.cookies.Queens}}</p>
{{input value=queensCookieValue}}
<button {{action 'bakeCookie' 'Queens' queensCookieValue}}>Bake Queens Cookie</button>
<button {{action 'burnCookie' 'Queens'}}>Burn Queens Cookie</button>
<p class="the-brooklyn-cookie">Brooklyn = {{cookieMonster.cookies.Brooklyn}}</p>
{{input value=brooklynCookieValue}}
<button {{action 'bakeCookie' 'Brooklyn' brooklynCookieValue}}>Bake Brooklyn Cookie</button>
<button {{action 'burnCookie' 'Brooklyn'}}>Burn Brooklyn Cookie</button>

<h4>All the Cookies...</h4>
<p>{{cookieObject}}</p>
